@model CarManufacturerNumberStatistics

<h3>Najbolj popularne znamke</h3>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var dataCarManu = new google.visualization.DataTable();
        dataCarManu.addColumn('string', 'Topping');
        dataCarManu.addColumn('number', 'Slices');


        @{
            @:var dataForChart = [
            foreach (string key in this.Model.CarManufacturerNumber.Keys)
            {
                @:['@key', @this.Model.CarManufacturerNumber[key]],
            }
            @:]
        }


        //var dataForChart = [['Mushrooms', 3], ['Onions', 1], ['Olives', 1], ['Zucchini', 1], ['Pepperoni', 2]];

        dataCarManu.addRows(dataForChart);

        // Set chart options
        var options = {
            'title': 'Najbolj popularne znamke',
            'width': 400,
            'height': 300
        };

        // Instantiate and draw our chart, passing in some options.
        var chartCarManu = new google.visualization.PieChart(document.getElementById('chart_div_car_manufacturer'));
        chartCarManu.draw(dataCarManu, options);
    }
</script>

<div id="chart_div_car_manufacturer"></div>