@using ps.dmv.web.Infrastructure.Enums

@model dynamic

@{
    ViewBag.Title = "Statistike";
}

<h2>Statistike</h2>

<div class="row">
    <div class="col-md-6 content-background">
        @Html.Action(MVC.Home.LatestMobileDeCalculations(DmvConstants.StatisticsMobileDeCalculationsNumber, CalculationDisplayModeEnum.Advanced, null))
    </div>

    <div class="col-md-6 content-background">
        @Html.Action(MVC.Statistics.MostPopularCarBrand())
    </div>
</div>

<div class="row">
    <div class="col-md-6 content-background">
        @Html.Action(MVC.Statistics.CalculationFrequency())
    </div>

    <div class="col-md-6 content-background">
        @Html.Action(MVC.Home.LatestDmvCalculations(DmvConstants.StatisticsDmvCalculationsNumber, CalculationDisplayModeEnum.Advanced, null))
    </div>
</div>






