@model PagedList<DmvCalculation>

<h3>Zadnji DMV izračuni</h3>

<div>
    <ul>
        @foreach (DmvCalculation dmvCalculation in this.Model)
        {
            <li><a href="@Url.Action(MVC.Dmv.DmvCalculationResult(dmvCalculation.Id))">Vozilo @dmvCalculation.VehicleValue.ToString("C"); Davek @dmvCalculation.TaxTotalValue.ToString("C")</a> (@dmvCalculation.CreatedOn)</li>
        }
    </ul>
</div>
