@model List<DmvCalculation>

<h2>Zadnji DMV izračuni</h2>

<div>
    <ul>
        @foreach (DmvCalculation dmvCalculation in this.Model)
        {
            <li><a href="@Url.Action(MVC.Dmv.DmvCalculationResult(dmvCalculation.Id))">Vozilo @dmvCalculation.VehicleValue.ToString("C"); Davek @dmvCalculation.TaxTotalValue.ToString("C")</a></li>
        }
    </ul>
</div>

<p><a class="btn btn-default" href="@Url.Action(MVC.Statistics.Index())">Več &raquo;</a></p>