@{
    ViewBag.Title = "O Nas";
}
<h2>@ViewBag.Title.</h2>
<h3>DMV Portal</h3>

<p>Portal za izračun DMV, ki pomaga bodočim kupcem vozil v tujini izračunati davek na motorna vozila (DMV).</p>

<p>
<p><strong>Verzije portala:</strong></p>
    <ul>
        <li>25.11.2013 Popravki mnogo napak, izboljšave, dodana validacija in performančne izboljšave na uvozu za izračun.</li>
        <li>24.11.2013 Začetna izdaja portala, vsebuje ročni izračun DMV, uvoz preko mobile.de in osnovne statistike.</li>
    </ul>
</p>

<p>
<p><strong>Viri:</strong></p>
<ul>
    <li>
        <a href="http://www.uradni-list.si/1/objava.jsp?urlid=20109&stevilka=314">
            ZAKON O SPREMEMBAH IN DOPOLNITVAH ZAKONA O DAVKU NA MOTORNA VOZILA (ZDMV-C)
        </a>
    </li>
    <li>
        <a href="http://www.uradni-list.si/1/objava.jsp?urlid=201240&stevilka=1700">
            ZAKON ZA URAVNOTEŽENJE JAVNIH FINANC (ZUJF)
        </a>
    </li>
</ul>
</p>

<p>
    <p><strong>Pravni podukt:</strong></p>
    <p>Uporaba strani samo za nekomercialne osebne namene. Vse pravice pridržane. Ne izključujemo napačnega izračuna. Končni izračun vedno poda DURS.</p>
</p>

<p>
<p><strong>Piškotki:</strong></p>
<p>V vaš računalnik smo namestili piškotke (nujni del spletnega portala), tako, da bi vam omogočili boljšo uporabniško izkušnjo. Portal uporablja Google Analytics in Authentication skripte, katere nastavijo vse piškotke na strani. Vsi piškotki se uporabljajo v strogo tehnične namene.</p>
</p>

