@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>DMV Portal.</h3>

<address>
    <strong>Podpora:</strong> <a href="mailto:dmvportal@stegnar.com">dmvportal@stegnar.com</a><br />
</address>