@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>DMV Info</h1>
    <p class="lead">This site prove you all data you need related to the DMV tax.</p>
    <p><a href="http://www.durs.gov.si/si/davki_predpisi_in_pojasnila/davek_na_motorna_vozila_pojasnila/" class="btn btn-primary btn-large">Durs &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest DMV news</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns\ and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest mobile.de checks</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest DMV calculations</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>