@using ps.dmv.web.Infrastructure.Enums

@{
    ViewBag.Title = "Doma";
}

<div class="jumbotron">
    <h1>Portal za izračun DMV</h1>
    <p class="lead">Portal omogoča ročni izračun, kot tudi izračun DMVja na podlagi uvoza s portala <a href="http://www.mobile.de">mobile.de</a>.</p>

    <a class="btn btn-lg btn-success" href="@Url.Action(MVC.Dmv.Index())" role="button">Izračunaj si DMV &raquo;</a>
    ali
    <a class="btn btn-lg btn-success" href="@Url.Action(MVC.ExternalImportCarData.Index())" role="button">Uvozi za izračun &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4 content-background fixed-md-4">

        <h2>Zadnje novice</h2>
        <p>
            <ul>
                <li><a href="http://www.durs.gov.si/si/davki_predpisi_in_pojasnila/davek_na_motorna_vozila_pojasnila/dokazilo_da_je_bilo_vozilo_odpeljano_iz_slovenije_v_drugo_drzavo_clanico_in_obracun_dmv/">DOKAZILO, DA JE BILO VOZILO ODPELJANO IZ SLOVENIJE V DRUGO DRŽAVO ČLANICO IN OBRAČUN DMV</a></li>
            </ul>
        </p>
        <p><a href="http://www.durs.gov.si/si/davki_predpisi_in_pojasnila/davek_na_motorna_vozila_pojasnila/" class="btn btn-default">Durs &raquo;</a></p>
    </div>
    <div class="col-md-4 content-background fixed-md-4">
        @Html.Action(MVC.Home.LatestDmvCalculations(DmvConstants.LatestDmvCalculationsNumber, CalculationDisplayModeEnum.Simple, null))
    </div>
    <div class="col-md-4 content-background fixed-md-4">
        @Html.Action(MVC.Home.LatestMobileDeCalculations(DmvConstants.LatestMobileDeCalculationsNumber, CalculationDisplayModeEnum.Simple, null))
    </div>
</div>